@import url('componentes.css');

//Variables
$verde: #27ae60;
$naranja:#f39c12;
$rojo:#e74c3c;
$negro: #333;
$gris: #666;
$blanco: #fff;
$bg:#f6f6f6;
$borde: 0.2rem solid $negro;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

.dashboard .caja-contenedora {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;

    .caja{
        padding:1.5rem;
        text-align: center;
        border:$borde;
        box-shadow: $box-shadow;
        background-color: $blanco;
        border-radius: .5rem;

        h3{
            font-size: 3.5rem;
            color: $negro;
        }

        p{
            font-size: 2rem;
            background-color: $bg;
            color: $gris;
            padding:1.5rem;
            margin:1rem 0;
            border: $borde;
            border-radius: .5rem;
            color:$negro;
        }
    }
}

.add-productos{
    form{
        max-width: 70rem;
        padding:2rem;
        margin:0 auto;
        text-align: center;
        border:$borde;
        box-shadow: $box-shadow;
        background-color: $blanco;
        border-radius: .5rem;

        textarea{
            height: 20rem;
            resize: none;
        }

        .flex{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .inputs{
                width: 49%;
            }
        }

        .caja{
            width: 100%;
            margin:1rem 0;
            padding:1.2rem 1.4rem;
            font-size: 1.8rem;
            color:$negro;
            border-radius: .5rem;
            background-color: $bg;
            border:$borde;
        }
    }
}

.ver-productos{
    padding-top: 0;

    .caja-contenedora{
        display: grid;
        grid-template-columns: repeat(auto-fit, 33rem);
        gap:1.5rem;
        align-items: flex-start;
        justify-content:center;

        .caja{
            text-align: center;
            border:$borde;
            box-shadow: $box-shadow;
            background-color: $blanco;
            border-radius: .5rem;
            padding:2rem;
            position: relative;
            
            img{
                width: 100%;
                margin-bottom: 1rem;
            }

            .precio{
                position: absolute;
                top:1rem; left:1rem;
                padding:1rem;
                font-size: 2rem;
                color:$blanco;
                background-color: $rojo;
                border-radius: .5rem;
            }

            .nombre{
                margin:.5rem 0;
                font-size: 2rem;
                color:$negro;
            }

            .categoria{
                font-size: 1.8rem;
                color:$verde;
            }

            .detalles{
                padding-top: 1rem;
                font-size: 1.5rem;
                line-height: 1.5;
                color:$gris;
            }
        }
    }
}

.actualizar-producto{
    form{
        max-width: 50rem;
        padding:2rem;
        margin:0 auto;
        text-align: center;
        border:$borde;
        box-shadow: $box-shadow;
        background-color: $blanco;
        border-radius: .5rem;

        img{
            height: 25rem;
            object-fit: cover;
            margin-bottom: 1rem;
        }

        .caja{
            width: 100%;
            border: $borde;
            background-color: $blanco;
            border-radius: .5rem;
            background-color: $bg;
            padding:1.2rem 1.4rem;
            font-size: 1.8rem;
            color: $negro;
            margin:1rem 0;
        }
    }
}

.pedidos{
    .caja-contenedora{
        display: grid;
        grid-template-columns: repeat(auto-fit, 33rem);
        gap:1.5rem;
        align-items: flex-start;
        justify-content:center;

        .caja{
            border:$borde;
            box-shadow: $box-shadow;
            background-color: $blanco;
            border-radius: .5rem;
            padding:2rem;

            p{
                margin-bottom: 1rem;
                line-height: 1.5;
                font-size: 2rem;
                color:$gris;

                span{
                    color:$verde;
                }
            }

            .dropdown{
                width: 100%;
                padding:1.2rem 1.4rem;
                font-size: 1.8rem;
                border:$borde;
                border-radius: .5rem;
                background-color: $bg;
                margin-bottom: .5rem;
            }
        }
    }
}

.usuarios{
    .caja-contenedora{
        display: grid;
        grid-template-columns: repeat(auto-fit, 33rem);
        gap:1.5rem;
        align-items: flex-start;
        justify-content:center;

        .caja{
            border:$borde;
            box-shadow: $box-shadow;
            background-color: $blanco;
            border-radius: .5rem;
            padding:2rem;
            text-align: center;

            img{
                height: 15rem;
                width: 15rem;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 1rem;
            }

            p{
                line-height: 1.5;
                padding:.5rem 0;
                font-size: 2rem;
                color:$gris;

                span{
                    color: $verde;
                }
            }
        }
    }
}

.mensajes{
    .caja-contenedora{
        display: grid;
        grid-template-columns: repeat(auto-fit, 33rem);
        gap:1.5rem;
        align-items: flex-start;
        justify-content:center;

        .caja{
            border:$borde;
            box-shadow: $box-shadow;
            background-color: $blanco;
            border-radius: .5rem;
            padding:2rem;

            p{
                line-height: 1.5;
                padding:.5rem 0;
                font-size: 2rem;
                color:$gris;

                span{
                    color:$verde;
                }
            }
        }
    }
}

@media (max-width:768px){

    .add-productos form .flex .inputs{
       width: 100%;
    }
 
 }
 
 
 
 @media (max-width:450px){
 
    .ver-productos .caja-contenedora{
       grid-template-columns: 1fr;
    }
 
    .actualizar-producto form img{
       height: auto;
       width: 100%;
    }
 
    .pedidos .caja-contenedora{
       grid-template-columns: 1fr;
    }
 
    .usuarios .caja-contenedora{
       grid-template-columns: 1fr;
    }
 
    .mensajes .caja-contenedora{
       grid-template-columns: 1fr;
    }
 
 }